input[type="text"], button {
    padding: 5px;
    margin: 5px;
    width: 300px;
    display: block;
    font-family: Arial;
	font-size: 14px
}
.typeahead-selector {
	-webkit-padding-start: 0;
    position: fixed;
    background: white;
    margin: 0 5px;
}
.typeahead-selector li {
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
    list-style: none;
    padding: 3px;
    width: 292px;
}
.typeahead-selector li a {
	text-decoration: none;
	font-family: Arial;
	font-size: 14px
}
.typeahead-selector li:hover {
	background: #eee;
}

.typeahead-selector li:first-child {
	border-top: 1px solid #bbb;
}
